# Choose between 'OpenAI' or 'Azure'
MODEL_PROVIDER="OpenAI"

# OpenAI Configuration
OPENAI_API_KEY="sk-..."
OPENAI_API_BASE="https://api.openai.com/v1"

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
OPENAI_API_VERSION="2024-05-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o-mini"

# Redis Configuration for Task Queue
REDIS_HOST="localhost"
REDIS_PORT=6379
